// nextflow.config

params {
    img_dir   = "Dataset/img"
    cub_dir   = "Dataset/cub"
    python    = "/opt/homebrew/Caskroom/miniforge/base/envs/lunar_env/bin/python3"
}

// Optional: process resource defaults
process {
    cpus = 4
    maxForks = 10
}

// Optional: clean up after success
cleanup = true

